body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

section {
  border: 1px solid #efefef;
  margin-bottom: 1em;
}

section h1 {
  background: #ccc;
  margin: 0;
  padding: .3em 1em;
}

section p {
  margin-left: 1em;
  margin-right: 1em;
}
